<% include head %>

<div class="masthead">
    <h1>GeeFuTu</h1>
</div>
<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Sharing Data Is Cool<br>Trust Me, I'm a Hipster.</h1>
            <!--<h3>GeeFu is a site for sharing and updating genomics data and information on ash and ash dieback.</h3>-->
        </div>
    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img src="/img/icons/Beer.png" width="180" alt="">
            <h4>GeeFuTu Is Free</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="/img/icons/Pencil.png" width="180" alt="">
            <h4>You Will Be Recognised For Your Contributions</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="/img/icons/Cake.png" width="180" alt="">
            <h4>Free Cake?</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

        </div><!--/col-lg-4 -->
    </div><!-- /row -->
    <hr>
</div>


<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Our Awesome Gang.<br>Team MacLean.</h1>
            <!--<h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>-->
        </div>
    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img class="img-circle" src="/img/people/dan.png" width="140" alt="">
            <h4>Dan Maclean</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="/img/people/carlos_lugo.png" width="140" alt="">
            <h4>Dr Carlos Lugo</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="/img/people/graham_etherington.png" width="140" alt="">
            <h4>Dr Graham Etherington</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->
    </div><!-- /row -->
    <div class="row mt centered">
        <div class="col-lg-4">
            <img class="img-circle" src="/img/people/shyam_rallapalli.png" width="140" alt="">
            <h4>Dr Ghanasyam Rallapalli</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="/img/people/martin_page.png" width="140" alt="">
            <h4>Mr Martin Page</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="/img/people/ed_chalstrey.png" width="140" alt="">
            <h4>Mr Ed Chalstrey</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div>

<div class="container">
    <hr>
    <p class="centered">Created by <a href="http://www.danmaclean.info">Team Maclean</a></p>
</div>

<% include foot %>
