<% include head %>

<div class="masthead">
    <h1>GeeFuTu</h1>

    <p>a site for sharing and updating genomics data and information on ash and ash dieback.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="badges">
                <i class="fa fa-flag fa-5x"></i>
                <p>bla bla bla</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="badges">
                <i class="fa fa-laptop fa-5x"></i>
                <p>bla bla bla</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="badges">
                <i class="fa fa-flask fa-5x"></i>
                <p>bla bla bla</p>
            </div>
        </div>
    </div>
</div>


<% include foot %>
