<% include ../head %>

<div class="container pt">

    <h2><%- genome.buildVersion %>:<%- experiment.name %></h2>

    <div id='svgHolder'>Dalliance genome browser goes here. Unless you have an ancient web browser or something.</div>

</div>
<script src="/dalliance/build/dalliance-all.js"></script>
<script src="/js/dallianceBackend.js"></script>
<script language="javascript">
    var b = new Browser({
        chr: 'Cf746836_TGAC_s1v1_scaffold_646',
        viewStart: 1,
        viewEnd: 10000,
        cookieKey: 'Cf746836_TGAC_s1v1_scaffold_646',

        coordSystem: {
            speciesName: 'Human',
            taxon: 9606,
            auth: 'GRCh',
            version: '37',
            ucscName: 'hg19',
        },

        sources: [
            {
                name: 'Genome',
                uri: '/api/genome/<%- genome._id %>',
                tier_type: 'ChowChowGenome'
            },

            {
                name: 'Experiment',
                desc: 'TODO',
                uri: '/api/experiment/<%- experiment._id %>',
                stylesheet_uri: '/gff.xml',
                tier_type: 'ChowChowExperiment'
            }
        ],

        setDocumentTitle: false,
        disablePoweredBy: true,
        noTitle: true
    });

</script>


<% include ../foot %>